ul.open-autocomplete {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background: white;
    z-index: 99999;
    border: 1px solid #c6c6c6;
}

ul.open-autocomplete li {
    padding: 5px 10px;
}

ul.open-autocomplete li:hover {
    background: lightgray;
    cursor: pointer;
}

ul.open-autocomplete li.oa-add {
    font-style: italic;
}

input.open-autocomplete[readonly] {
    display: none;
}

input.open-autocomplete + .open-autocomplete.oa-result-container {
    display: none;
}

input.open-autocomplete[readonly] + .open-autocomplete.oa-result-container {
    display: initial;
}
